body{
	background-color:#387710;
	font-size:30px;
	font-family:Caladea;
}
header{
	width:100%;
	background-color:#9FFFA3;
	text-align:center;
	font-size:60px;
	height:10%;
}


#opis{
	background-color:#10C5A5;
	width:100%;
	float:left;
	height:60%;
	
}
#zdjecie{
	background-color:#C8ED77;
	text-align:center;
}
#borowka{
	float:left;
}
#lewo{
	width:15%;
	height:10px;
}
#wlasciwosci{
	text-align:center;
	background-color:#9FFFA3;
}
#krzaki,#owoce,#zdrowie,#rynek,#uprawa,#sadzenie{
	width:70%;
	background-color:#9FFFA3;
	height:70%;
	float:left;
}

#menu{
	background-color:#9FFFA3;
}

#menu_out{
	background-color:#10C5A5;
	width:50%;
	float:left;
	height:30%;
}

#powrot{
	background-color:#10C5A5;
	width:50%;
	float:left;
	height:30%;
	text-align:center;
}

h3{
	line-height:190px;
}


a{
	text-decoration:none;
}

#galeria1{
	float:left;
	width:30%;
	height:50%;
	float:left;
}

#galeria2{
	float:left;
	width:30%;
	height:50%;
	float:left;
}

#photo{
	height:70%;
}

#photos{
	width:100%;
	height:100%;
}
